* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */
 ul{
    list-style-type: none;
 }
 a {
    text-decoration: none;
 }


body {
    max-width: 1200px;
    min-width: 700px;
    background-color: #ffa5ab;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    margin-top: 20px;
}

h1 {
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    border-bottom: none;
    background-color: #a53860;
    color: white;
}
.clearfix {
    clear: both;
    
} 
.sfondo {
    height: 250px;
    background-image: url(../tele.jpeg);
    background-size:contain;
    background-position: center;
    margin-bottom: 10px;
}



nav > ul > li {
    float: left;
    width: calc(100% / 5);
    text-align: center;
    position: relative;
    
}





nav > ul > li > a{
    display: block;
    padding: 10px 0;
    background-color: #450920;
    border-right: 1px solid black;
    color: white;
}

nav > ul > li > ul {
    position: absolute;
    width: 100%;
    top: 38px;
    border-radius: 10px;
}

nav > ul > li > ul > li {
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    background-color: #ffa5ab;
}
nav > ul > li > ul > li > a {
    padding: 5px 10px;
    color: #013566;
    border-radius: 10px;
    background-color: #f9dbbd;
    transition: 0.5s;
}


nav > ul > li > ul {
    display: none;
}


nav > ul > li:hover ul {
    display: block;
    
}
nav > ul > li > ul > li > a:hover {
    padding: 10px;
    font-size: 1.3rem;
    color: blue;
}




















/* 
nav > ul li {
    float: left;
    width: calc(100% / 5);
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    background-color: blueviolet;
    /* position: relative;
    cursor: pointer;
}
 */
/* 
nav > ul > li > ul {
    display: none;
}

nav > ul > li > a {
    color: white;
    padding: 10px;
}

nav > ul > li > ul {
    width: 100%;
}

nav > ul > li > ul >li {
    width: 100%;
}



nav > ul > li:hover ul {
    display: block;
} */





































/* MENU DI SECONDO LIVELLO */

/* nav > ul > li > ul {
    padding: 0px;
    width: 101%;
    position: absolute;
    top: 39px;
    left: -1px;
}

nav > ul > li > ul > li {
    background-color: beige;
    font-size: 0px;
} */

/* hover-faccio apparire il menu di secondo livello con transition.
Per usare transition ho modificato la font-sizze da 0 a 1rem */
/* nav > ul > li:hover > ul > li{
    padding: 5px;
    display: block;
    font-size: 1rem;
    border: 1px solid black;
    transition: 0.7s;
}

nav > ul > li >ul > li:hover {
    padding: 15px;
    background-color: orange;
    border-radius: 30px;
    font-size: 1.2rem;
    
}
nav > ul > li >ul > li > a:hover {
    color: yellow;
} */





